body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.flex-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: gray;
}
.flex-container > div {
    flex: 1;
    width: 60%;
    padding: 0;
    border-radius: .5rem;
    text-align: center;
    font-size: 1em;
}
.flex-container .One {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    background: rgb(0, 0, 120);
    gap: 5px;
    padding: 10px;
    flex: 1;
}
.column1 {
    justify-content: space-evenly;
    gap: 20px;
    display: flex;
    margin-top: 10px;
}
.header {
    margin: 0;
    color: rgb(170, 170, 170);
}
.link {
    margin-right: 60px;
    text-decoration: none;
    margin-top: 10px;
    transition: color .1s linear;
    color: rgb(0, 199, 0);
}
.link:hover {
color: rgb(1, 255, 1)
}
.flex-container .Two {
    flex-direction: column;
    display: flex;
    align-items: center;
    background: rgb(0, 60, 120);
}
.flex-container .Three {
    margin-bottom: 10px;
    background: rgb(40, 40, 120);
}
.column2 {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero-header {
    margin: 0;
    margin-left: 10px;
    color: rgb(170, 170, 170);
    font-size: 1.5em;
}
.info-p {
    margin: 0;
    color: rgb(170, 170, 170);
}
.hero-left {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sign-up {
    font-size: 1em;
    border-radius: 1rem;
    background: gray;
    transition: transform .05s linear;
    transform: scale(1);
}
.sign-up:hover {
    transform: scale(1.2);
}
.sign-up:active {
    transform: scale(.8);
}
.hero-right {
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.image {
    border-radius: .5rem;
}
.info-header {
    font-size: 1.5em;
    color: rgb(170, 170, 170);
}
.info-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}
.info-div {
    padding: 10px;
    color: rgb(255, 238, 0);
    background: rgb(0, 0, 150);
    margin-top: 20px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 160px;
    width: 140px;
    border: solid black;
    margin-bottom: 20px;
}
.contact-header {
    font-size: 1.5em;
    color: rgb(0, 130, 163)
}
.contact-p {
    font-size: 1em;
    color: white;
}